body {
    font-family: system-ui, sans-serif;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
.left-align {
    text-align: left;
}